<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <h2 class="text-center">Create your event!</h2>

      <form class="form-horizontal" name="addEvent" ng-submit="rememberEvent(addEvent, event)" novalidate>

        <fieldset>
          <div class="form-group">
            <label for="event-name" class="col-sm-3 control-label control-label_required">Name of the Event:</label>

            <div class="col-sm-9">
              <input id="event-name" class="form-control" name="eventname" type="text" ng-model="event.name" placeholder="My awesome event" ng-required="true" ng-minlength="3" autofocus>
            </div>

            <div class="col-xs-12 col-sm-9 col-sm-offset-3" ng-if="addEvent.eventname.$touched" ng-messages="addEvent.eventname.$error">
              <p class="text-danger" ng-message="required">Name of the event is required</p>
              <p class="text-danger" ng-message="minlength">The name of the event must be at least 3 characters long</p>
            </div>
          </div>

          <div class="form-group">
            <label for="eventtype" class="col-sm-3 control-label control-label_required">Type of your event:</label>

            <div class="col-sm-9">
              <input id="eventtype" class="form-control" name="eventtype" type="text" ng-model="event.type" uib-typeahead="type for type in eventtypes | filter:$viewValue | limitTo: 5" placeholder="Party, conference, etc." ng-required="true" ng-minlength="3">
            </div>

            <div class="col-xs-12 col-sm-9 col-sm-offset-3" ng-if="addEvent.eventtype.$touched" ng-messages="addEvent.eventtype.$error">
              <p class="text-danger" ng-message="required">Type of the event is required</p>
              <p class="text-danger" ng-message="minlength">The type of the event must be at least 3 characters long</p>
            </div>
          </div>

          <div class="form-group">
            <label for="host" class="col-sm-3 control-label control-label_required">Event's Host:</label>

            <div class="col-sm-9">
              <input id="host" class="form-control" name="eventhost" type="text" ng-model="event.host" placeholder="Host's or company's name" ng-required="true">
            </div>

            <div class="col-xs-12 col-sm-9 col-sm-offset-3" ng-if="addEvent.eventhost.$touched" ng-messages="addEvent.eventhost.$error">
              <p class="text-danger" ng-message="required">Event must have host</p>
            </div>
          </div>



          <div class="form-group">
            <label class="col-sm-3 control-label control-label_required" for="starttime">Starts:</label>

            <div class="col-sm-6">
              <p class="input-group">
                <input id="starttime" type="text" class="form-control" name="eventstartdate" placeholder="24.12.2016" uib-datepicker-popup="dd.MM.yyyy" ng-model="event.startdate" is-open="openedPopups.startDate" max-date="event.enddate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDatePopup('startDate')"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            <div class="col-sm-3">
              <uib-timepicker ng-model="event.starttime" name="eventstarttime" hour-step="timePicker.hstep" minute-step="timePicker.mstep" show-meridian="false" ng-required="true"></uib-timepicker>
            </div>

            <div class="col-sm-9 col-sm-offset-3" ng-if="addEvent.eventstartdate.$touched" ng-messages="addEvent.eventstartdate.$error">
              <p class="text-danger" ng-message="required">Please, set start date of your event</p>
            </div>

            <div class="col-sm-9 col-sm-offset-3" ng-if="addEvent.eventstarttime.$touched" ng-messages="addEvent.eventstarttime.$error">
              <p class="text-danger" ng-message="required">Please, set start time of your event</p>
            </div>
          </div>

          <div class="form-group">
            <label for="endtime" class="col-sm-3 control-label control-label_required">Ends:</label>

            <div class="col-sm-6">
              <p class="input-group">
                <input id="endtime" type="text" name="eventenddate" class="form-control" placeholder="25.12.2016" uib-datepicker-popup="dd.MM.yyyy" ng-model="event.enddate" is-open="openedPopups.endDate" min-date="event.startdate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDatePopup('endDate')"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>

            <div class="col-sm-3">
              <uib-timepicker ng-model="event.endtime" name="eventendtime" ng-required="true" hour-step="timePicker.hstep" minute-step="timePicker.mstep" show-meridian="false"></uib-timepicker>
            </div>

            <div class="col-sm-9 col-sm-offset-3" ng-if="addEvent.eventenddate.$touched" ng-messages="addEvent.eventenddate.$error">
              <p class="text-danger" ng-message="required">Please, set end date of your event</p>
            </div>

            <div class="col-sm-9 col-sm-offset-3" ng-if="addEvent.eventendtime.$touched" ng-messages="addEvent.eventendtime.$error">
              <p class="text-danger" ng-message="required">Please, set end time of your event</p>
            </div>
          </div>

          <div class="form-group">
            <label for="google-map-locator-address" class="col-sm-3 control-label control-label_required">Location</label>


            <div class="col-sm-9">
              <input type="text" id="google-map-locator-address" class="form-control" name="eventlocation" ng-model="event.location" ng-required="true" />
              <google-map-locator class="google-map" radius="10" options="{{mapoptions}}" on-location-initialize="onLocationInitialize(addressComponents)" on-location-change="onLocationChange(addressComponents)">
              </google-map-locator>
            </div>

            <div class="col-sm-9 col-sm-offset-3" ng-if="addEvent.eventlocation.$touched" ng-messages="addEvent.eventlocation.$error">
              <p class="text-danger" ng-message="required">Please, provide location of your event</p>
            </div>
          </div>

          <div class="form-group">
            <label for="evnetguests" class="col-sm-3 control-label control-label_required">Guests:</label>
            <div class="col-sm-9">
              <textarea id="evnetguests" name="evnetguests" class="form-control" ng-model="event.guests" ng-required="true"></textarea>
            </div>
            <div class="col-sm-9 col-sm-offset-3" ng-if="addEvent.evnetguests.$touched" ng-messages="addEvent.evnetguests.$error">
              <p class="text-danger" ng-message="required">Please invite at least one guest to your event</p>
            </div>
          </div>

          <div class="form-group">
            <label for="message" class="col-sm-3 control-label">Message:</label>

            <div class="col-sm-9">
              <textarea id="message" class="form-control" placeholder="Any additional info? Write it here" ng-model="event.message"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 text-center">
              <button type="submit" class="btn btn-raised btn-success" ng-disabled="addEvent.$invalid">Continue</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
