<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <h2 class="text-center">Create your event!</h2>

      <form action="" class="form-horizontal">

        <fieldset>
          <div class="form-group">
            <label for="event-name" class="col-sm-3 control-label">Name of the Event:</label>

            <div class="col-sm-9">
              <input id="event-name" class="form-control" type="text" placeholder="My awesome event" autofocus required>
            </div>
          </div>

          <div class="form-group">
            <label for="eventtype" class="col-sm-3 control-label">Type of your event:</label>

            <div class="col-sm-9">
              <input id="eventtype" class="form-control" type="text" ng-model="selected"
                     uib-typeahead="state for state in states | filter:$viewValue | limitTo:8"
                     placeholder="Party, conference, etc.">
            </div>
          </div>

          <div class="form-group">
            <label for="host" class="col-sm-3 control-label">Event's Host:</label>

            <div class="col-sm-9">
              <input id="host" class="form-control" type="text" placeholder="Host's or company's name" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="starttime">Starts:</label>

            <div class="col-sm-9">
              <p class="input-group">
                <input id="starttime"
                       type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                       is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                       alt-input-formats="altInputFormats"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="endtime" class="col-sm-3 control-label">Ends:</label>

            <div class="col-sm-9">
              <p class="input-group">
                <input id="endtime"
                       type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                       is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                       alt-input-formats="altInputFormats"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label">Location</label>

            <div class="col-sm-9">
              Insert map here
            </div>
          </div>

          <div class="form-group">
            <label for="message" class="col-sm-3 control-label">Message:</label>

            <div class="col-sm-9">
              <textarea id="message" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 text-center">
              <a class="btn btn-raised btn-success" href="#/event/confirm">Continue</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
