<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <h2 class="text-center">Create your event!</h2>

      <form action="" class="form-horizontal">

        <fieldset>
          <div class="form-group">
            <label for="event-name" class="col-sm-3 control-label">Name of the Event:</label>

            <div class="col-sm-9">
              <input id="event-name" class="form-control" type="text" ng-model="event.name" placeholder="My awesome event" autofocus required>
            </div>
          </div>

          <div class="form-group">
            <label for="eventtype" class="col-sm-3 control-label">Type of your event:</label>

            <div class="col-sm-9">
              <input id="eventtype" class="form-control" type="text" ng-model="event.type" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" placeholder="Party, conference, etc.">
            </div>
          </div>

          <div class="form-group">
            <label for="host" class="col-sm-3 control-label">Event's Host:</label>

            <div class="col-sm-9">
              <input id="host" class="form-control" type="text" ng-model="event.host" placeholder="Host's or company's name" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="starttime">Starts:</label>

            <div class="col-sm-6">
              <p class="input-group">
                <input id="starttime" type="text" class="form-control" placeholder="24.12.2016" uib-datepicker-popup="dd.MM.yyyy" ng-model="event.startdate" is-open="openedPopups.startDate" max-date="event.enddate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDatePopup('startDate')"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            <div class="col-sm-3">
              <uib-timepicker ng-model="event.starttime" hour-step="timePicker.hstep" minute-step="timePicker.mstep" show-meridian="false"></uib-timepicker>
            </div>
          </div>

          <div class="form-group">
            <label for="endtime" class="col-sm-3 control-label">Ends:</label>

            <div class="col-sm-6">
              <p class="input-group">
                <input id="endtime" type="text" class="form-control" placeholder="25.12.2016" uib-datepicker-popup="dd.MM.yyyy" ng-model="event.enddate" is-open="openedPopups.endDate" min-date="event.startdate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDatePopup('endDate')"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>

            <div class="col-sm-3">
              <uib-timepicker ng-model="event.endtime" hour-step="timePicker.hstep" minute-step="timePicker.mstep" show-meridian="false"></uib-timepicker>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label">Location</label>


            <div class="col-sm-9">
              <input type="text" id="google-map-locator-address" class="form-control" ng-model="event.location"/>
              <google-map-locator class="google-map" radius="10" on-location-initialize="onLocationInitialize(addressComponents)" on-location-change="onLocationChange(addressComponents)">
              </google-map-locator>
            </div>
          </div>

          <div class="form-group">
            <label for="message" class="col-sm-3 control-label">Message:</label>

            <div class="col-sm-9">
              <textarea id="message" class="form-control" placeholder="Any additional info? Write it here" ng-model="event.message"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 text-center">
              <a class="btn btn-raised btn-success" ng-click="rememberEvent(event)">Continue</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
