<div class="row">
  <div class="col-xs-12 text-center">
    <div class="well">
      <p>Please, check your event</p>
      <dl>
        <dt>Name:</dt>
        <dd>{{event.name}}</dd>
        <dt>Type:</dt>
        <dd>{{event.type}}</dd>
        <dt>Host:</dt>
        <dd>{{event.host}}</dd>
        <dt>Starts:</dt>
        <dd>{{event.startdate}} - {{event.starttime}}</dd>
        <dt>Ends:</dt>
        <dd>{{event.enddate}} - {{event.endtime}}</dd>
        <dt>Location:</dt>
        <dd>{{event.location}}</dd>
        <dt>Message:</dt>
        <dd>{{event.message}}</dd>
      </dl>
      <div>
        <a href="#/event/add" class="btn btn-warning btn-raised">Edit event</a>
        <a class="btn btn-danger btn-raised" ng-click="cancelEvent()">Cancel event</a>
      </div>
      <p>If everything is correct, you can:</p>

      <div ng-hide-auth="">
        <a href="" class="btn btn-success btn-raised">Register and create event</a>
        <a href="" class="btn btn-primary btn-raised">Login and create event</a>
        <btn class="btn btn-default btn-raised" ng-click="confirmEvent(event)">Create event as a guest</btn>
      </div>

      <div ng-show-auth="">
        <a href="" class="btn btn-success btn-raised" ng-show-auth="">Create event</a>
      </div>
    </div>
  </div>
</div>
