<div class="row">
  <div class="col-xs-12 text-center">
    <div class="well">
      <p>Please, check your event</p>
      <dl>
        <dt>Event Name:</dt>
        <dd>{{event.name}}</dd>
        <dt>Event Type:</dt>
        <dd>{{event.type}}</dd>
        <dt>Event's Host:</dt>
        <dd>{{event.host}}</dd>
        <dt>Starts:</dt>
        <dd>On {{event.startdate | date: 'dd-MM-yyyy'}} at {{event.starttime | date: 'HH:mm'}}</dd>
        <dt>Ends:</dt>
        <dd>On {{event.enddate | date: 'dd-MM-yyyy'}} at {{event.endtime | date: 'HH:mm'}}</dd>
        <dt>Event's Location:</dt>
        <dd>{{event.location}}</dd>
        <dt>Additional Message:</dt>
        <dd>{{event.message}}</dd>
      </dl>
      <div>
        <a href="#/event/add" class="btn btn-warning btn-raised">Edit event</a>
        <a class="btn btn-danger btn-raised" ng-click="cancelEvent()">Cancel event</a>
      </div>

      <p ng-hide-auth="">If everything is correct, you can log in and create your event.</p>

      <p ng-hide-auth="">If you don't have an account, you can
        <button class="btn btn-raised btn-success">register and create event</button>
        or
        <button class="btn btn-raised btn-default" ng-click="confirmEvent(event)">create event as a guest</button>
      </p>

      <p ng-show-auth="">
        <a href="" class="btn btn-success btn-raised">Create event</a>
      </p>

      <div ng-show-auth="">

      </div>
    </div>
  </div>
</div>
