<div class="well">
  <h2 class="text-center" ng-show="!createMode">Login</h2>
  <h2 class="text-center" ng-show="createMode">Register</h2>

  <form role="form" name="credentials" class="form-horizontal" novalidate>


    <div class="form-group">
      <label for="loginEmail" class="col-sm-3 control-label control-label_required">Email</label>
      <div class="col-sm-9">
        <input id="loginEmail" ng-required="true" name="email" type="email" ng-model="user.email" class="form-control" autofocus placeholder="name@mail.com" />
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-if="credentials.email.$touched" ng-messages="credentials.email.$error">
        <p class="text-danger" ng-message="required">Email is required</p>
        <p class="text-danger" ng-message="email">Please, provide a valid email</p>
      </div>
    </div>

    <div class="form-group" ng-show="createMode">
      <label for="name" class="col-sm-3 control-label control-label_required">Name</label>

      <div class="col-sm-9">
        <input type="text" id="name" name="credname" class="form-control" ng-model="user.name" ng-required="true" placeholder="John Doe">
      </div>

      <div class="col-sm-9 col-sm-offset-3" ng-if="credentials.credname.$touched" ng-messages="credentials.credname.$error">
        <p class="text-danger" ng-message="required">Name is required</p>
      </div>
    </div>

    <div class="form-group">
      <label for="loginPass" class="col-sm-3 control-label control-label_required">Password</label>
      <div class="col-sm-9">
        <input id="loginPass" ng-required="true" name="pass" type="password" ng-model="user.password" class="form-control" minlength="3" ng-maxlength="10" />
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-if="credentials.pass.$touched" ng-messages="credentials.pass.$error">
        <p class="text-danger" ng-message="required">Password is required</p>
        <p class="text-danger" ng-message="minlength">Password must be at least 3 characters long</p>
        <p class="text-danger" ng-message="maxlength">Password must be no longer than 10 characters</p>
      </div>
    </div>

    <div class="form-group" ng-cloak ng-show="createMode">
      <label for="loginConfirm" class="col-sm-3 control-label control-label_required">Confirm password</label>
      <div class="col-sm-9">
        <input id="loginConfirm" ng-required="true" name="confirm" type="password" ng-model="user.confirm" class="form-control" />
      </div>
      <div class="col-sm-9 col-sm-offset-3" ng-if="credentials.confirm.$touched" ng-messages="credentials.confirm.$error">
        <p class="text-danger" ng-message="required">Please, confirm your password</p>
      </div>
    </div>

    <div ng-cloak ng-show="createMode">
      <h3 class="text-center">Additional info</h3>

      <div class="form-group">
        <label for="employer" class="col-sm-3 control-label">Employer</label>

        <div class="col-sm-9">
          <input type="text" id="employer" class="form-control" ng-model="user.employer" placeholder="Udacity / Google / Dark side">
        </div>
      </div>

      <div class="form-group">
        <label for="position" class="col-sm-3 control-label">Position</label>
        <div class="col-sm-9">
          <input type="text" id="position" class="form-control" ng-model="user.position" placeholder="Teacher / CEO / Emperror">
        </div>
      </div>
    </div>

    <p class="text-center">
      <button class="btn btn-primary" ng-click="passwordLogin(user.email, user.password)" ng-hide="createMode" ng-disabled="!user.email && !user.password">Log In</button>
      <button class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
      <button class="btn btn-primary" ng-cloak ng-show="createMode" ng-click="createAccount(user)" ng-disabled="!(user.name && user.email && user.password && user.confirm)">Create Account</button>
      <button class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
    </p>
  </form>
  <p ng-show="err" class="bg-danger">{{err}}</p>

</div>
